openapi: 3.2.0
info:
  title: Client SDK Submit Workflow Execution Actuals API
  version: 1.0.0
servers:
- url: https://predict.vellum.ai
- url: https://api.vellum.ai
- url: https://documents.vellum.ai
tags:
- name: Submit Workflow Execution Actuals
paths:
  /v1/submit-workflow-execution-actuals:
    post:
      operationId: submit-workflow-execution-actuals
      summary: Submit Workflow Execution Actuals
      description: 'Used to submit feedback regarding the quality of previous workflow execution and its outputs.


        **Note:** Uses a base url of `https://predict.vellum.ai`.'
      tags:
      - Submit Workflow Execution Actuals
      parameters:
      - name: X-API-KEY
        in: header
        required: true
        schema:
          type: string
      - name: X-API-Version
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/submit-workflow-execution-actuals_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitWorkflowExecutionActualsRequest'
components:
  schemas:
    DocumentChatMessageContentRequest:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/DocumentEnum'
        value:
          $ref: '#/components/schemas/VellumDocumentRequest'
      required:
      - type
      - value
      description: A document value that is used in a chat message.
      title: DocumentChatMessageContentRequest
    ChatMessageContentRequest:
      oneOf:
      - $ref: '#/components/schemas/StringChatMessageContentRequest'
      - $ref: '#/components/schemas/FunctionCallChatMessageContentRequest'
      - $ref: '#/components/schemas/ArrayChatMessageContentRequest'
      - $ref: '#/components/schemas/AudioChatMessageContentRequest'
      - $ref: '#/components/schemas/VideoChatMessageContentRequest'
      - $ref: '#/components/schemas/ImageChatMessageContentRequest'
      - $ref: '#/components/schemas/DocumentChatMessageContentRequest'
      title: ChatMessageContentRequest
    VellumImageRequest:
      type: object
      properties:
        src:
          type: string
          description: "The reference to the source data. This can be one of the following formats:\n1. A base64-encoded data URL (e.g., 'data:application/pdf;base64,JVBERi0xLjQKJcfs...').\n2. A url pointing to a file accessible over HTTP or HTTPS.\n3. A reference to a file that's been previously uploaded to Vellum, in the form of 'vellum:uploaded-file:{uploaded_file_id}'.\n    You can use the Uploaded Files API to retrieve the url of the uploaded file given its ID. See https://docs.vellum.ai/developers/client-sdk/uploaded-files/retrieve for details."
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      required:
      - src
      title: VellumImageRequest
    ChatMessageRequest:
      type: object
      properties:
        text:
          type:
          - string
          - 'null'
        role:
          $ref: '#/components/schemas/ChatMessageRole'
        content:
          oneOf:
          - $ref: '#/components/schemas/ChatMessageContentRequest'
          - type: 'null'
        source:
          type:
          - string
          - 'null'
          description: An optional identifier representing who or what generated this message.
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      required:
      - role
      title: ChatMessageRequest
    VideoChatMessageContentRequest:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/VideoEnum'
        value:
          $ref: '#/components/schemas/VellumVideoRequest'
      required:
      - type
      - value
      description: A video value that is used in a chat message.
      title: VideoChatMessageContentRequest
    WorkflowExecutionActualJsonRequest:
      type: object
      properties:
        output_id:
          type:
          - string
          - 'null'
          format: uuid
          description: The Vellum-generated ID of a workflow output. Must provide either this or output_key. output_key is typically preferred.
        output_key:
          type:
          - string
          - 'null'
          description: The user-defined name of a workflow output. Must provide either this or output_id. Should correspond to the `Name` specified in a Final Output Node. Generally preferred over output_id.
        quality:
          type:
          - number
          - 'null'
          format: double
          description: Optionally provide a decimal number between 0.0 and 1.0 (inclusive) representing the quality of the output. 0 is the worst, 1 is the best.
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
          description: Optionally provide additional metadata about the feedback submission.
        timestamp:
          type:
          - number
          - 'null'
          format: double
          description: Optionally provide the timestamp representing when this feedback was collected. Used for reporting purposes.
        output_type:
          $ref: '#/components/schemas/JsonEnum'
          description: The variable type of the output that this actual is being submitted for.
        desired_output_value:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
          description: Optionally provide the value that the output ideally should have been.
      required:
      - output_type
      title: WorkflowExecutionActualJsonRequest
    VellumAudioRequest:
      type: object
      properties:
        src:
          type: string
          description: "The reference to the source data. This can be one of the following formats:\n1. A base64-encoded data URL (e.g., 'data:application/pdf;base64,JVBERi0xLjQKJcfs...').\n2. A url pointing to a file accessible over HTTP or HTTPS.\n3. A reference to a file that's been previously uploaded to Vellum, in the form of 'vellum:uploaded-file:{uploaded_file_id}'.\n    You can use the Uploaded Files API to retrieve the url of the uploaded file given its ID. See https://docs.vellum.ai/developers/client-sdk/uploaded-files/retrieve for details."
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      required:
      - src
      title: VellumAudioRequest
    VellumVideoRequest:
      type: object
      properties:
        src:
          type: string
          description: "The reference to the source data. This can be one of the following formats:\n1. A base64-encoded data URL (e.g., 'data:application/pdf;base64,JVBERi0xLjQKJcfs...').\n2. A url pointing to a file accessible over HTTP or HTTPS.\n3. A reference to a file that's been previously uploaded to Vellum, in the form of 'vellum:uploaded-file:{uploaded_file_id}'.\n    You can use the Uploaded Files API to retrieve the url of the uploaded file given its ID. See https://docs.vellum.ai/developers/client-sdk/uploaded-files/retrieve for details."
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      required:
      - src
      title: VellumVideoRequest
    ImageEnum:
      type: string
      enum:
      - IMAGE
      title: ImageEnum
    ArrayEnum:
      type: string
      enum:
      - ARRAY
      title: ArrayEnum
    ChatMessageRole:
      type: string
      enum:
      - SYSTEM
      - ASSISTANT
      - USER
      - FUNCTION
      description: '* `SYSTEM` - System

        * `ASSISTANT` - Assistant

        * `USER` - User

        * `FUNCTION` - Function'
      title: ChatMessageRole
    ImageChatMessageContentRequest:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ImageEnum'
        value:
          $ref: '#/components/schemas/VellumImageRequest'
      required:
      - type
      - value
      description: An image value that is used in a chat message.
      title: ImageChatMessageContentRequest
    FunctionCallChatMessageContentRequest:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/FunctionCallEnum'
        value:
          $ref: '#/components/schemas/FunctionCallChatMessageContentValueRequest'
      required:
      - type
      - value
      description: A function call value that is used in a chat message.
      title: FunctionCallChatMessageContentRequest
    StringChatMessageContentRequest:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/StringEnum'
        value:
          type: string
      required:
      - type
      - value
      description: A string value that is used in a chat message.
      title: StringChatMessageContentRequest
    WorkflowExecutionActualChatHistoryRequest:
      type: object
      properties:
        output_id:
          type:
          - string
          - 'null'
          format: uuid
          description: The Vellum-generated ID of a workflow output. Must provide either this or output_key. output_key is typically preferred.
        output_key:
          type:
          - string
          - 'null'
          description: The user-defined name of a workflow output. Must provide either this or output_id. Should correspond to the `Name` specified in a Final Output Node. Generally preferred over output_id.
        quality:
          type:
          - number
          - 'null'
          format: double
          description: Optionally provide a decimal number between 0.0 and 1.0 (inclusive) representing the quality of the output. 0 is the worst, 1 is the best.
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
          description: Optionally provide additional metadata about the feedback submission.
        timestamp:
          type:
          - number
          - 'null'
          format: double
          description: Optionally provide the timestamp representing when this feedback was collected. Used for reporting purposes.
        output_type:
          $ref: '#/components/schemas/ChatHistoryEnum'
          description: The variable type of the output that this actual is being submitted for.
        desired_output_value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChatMessageRequest'
          description: Optionally provide the value that the output ideally should have been.
      required:
      - output_type
      title: WorkflowExecutionActualChatHistoryRequest
    VideoEnum:
      type: string
      enum:
      - VIDEO
      title: VideoEnum
    SubmitWorkflowExecutionActualRequest:
      oneOf:
      - $ref: '#/components/schemas/WorkflowExecutionActualStringRequest'
      - $ref: '#/components/schemas/WorkflowExecutionActualJsonRequest'
      - $ref: '#/components/schemas/WorkflowExecutionActualChatHistoryRequest'
      title: SubmitWorkflowExecutionActualRequest
    FunctionCallEnum:
      type: string
      enum:
      - FUNCTION_CALL
      title: FunctionCallEnum
    AudioChatMessageContentRequest:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AudioEnum'
        value:
          $ref: '#/components/schemas/VellumAudioRequest'
      required:
      - type
      - value
      description: An audio value that is used in a chat message.
      title: AudioChatMessageContentRequest
    JsonEnum:
      type: string
      enum:
      - JSON
      title: JsonEnum
    FunctionCallChatMessageContentValueRequest:
      type: object
      properties:
        name:
          type: string
        arguments:
          type: object
          additionalProperties:
            description: Any type
        id:
          type:
          - string
          - 'null'
      required:
      - name
      - arguments
      description: The final resolved function call value.
      title: FunctionCallChatMessageContentValueRequest
    DocumentEnum:
      type: string
      enum:
      - DOCUMENT
      title: DocumentEnum
    submit-workflow-execution-actuals_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: submit-workflow-execution-actuals_Response_200
    ArrayChatMessageContentItemRequest:
      oneOf:
      - $ref: '#/components/schemas/StringChatMessageContentRequest'
      - $ref: '#/components/schemas/FunctionCallChatMessageContentRequest'
      - $ref: '#/components/schemas/AudioChatMessageContentRequest'
      - $ref: '#/components/schemas/VideoChatMessageContentRequest'
      - $ref: '#/components/schemas/ImageChatMessageContentRequest'
      - $ref: '#/components/schemas/DocumentChatMessageContentRequest'
      title: ArrayChatMessageContentItemRequest
    StringEnum:
      type: string
      enum:
      - STRING
      title: StringEnum
    SubmitWorkflowExecutionActualsRequest:
      type: object
      properties:
        actuals:
          type: array
          items:
            $ref: '#/components/schemas/SubmitWorkflowExecutionActualRequest'
          description: Feedback regarding the quality of an output on a previously executed workflow.
        execution_id:
          type:
          - string
          - 'null'
          format: uuid
          description: The Vellum-generated ID of a previously executed workflow. Must provide either this or external_id.
        external_id:
          type:
          - string
          - 'null'
          description: The external ID that was originally provided by when executing the workflow, if applicable, that you'd now like to submit actuals for. Must provide either this or execution_id.
      required:
      - actuals
      title: SubmitWorkflowExecutionActualsRequest
    ChatHistoryEnum:
      type: string
      enum:
      - CHAT_HISTORY
      title: ChatHistoryEnum
    ArrayChatMessageContentRequest:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ArrayEnum'
        value:
          type: array
          items:
            $ref: '#/components/schemas/ArrayChatMessageContentItemRequest'
      required:
      - type
      - value
      description: A list of chat message content items.
      title: ArrayChatMessageContentRequest
    VellumDocumentRequest:
      type: object
      properties:
        src:
          type: string
          description: "The reference to the source data. This can be one of the following formats:\n1. A base64-encoded data URL (e.g., 'data:application/pdf;base64,JVBERi0xLjQKJcfs...').\n2. A url pointing to a file accessible over HTTP or HTTPS.\n3. A reference to a file that's been previously uploaded to Vellum, in the form of 'vellum:uploaded-file:{uploaded_file_id}'.\n    You can use the Uploaded Files API to retrieve the url of the uploaded file given its ID. See https://docs.vellum.ai/developers/client-sdk/uploaded-files/retrieve for details."
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      required:
      - src
      title: VellumDocumentRequest
    WorkflowExecutionActualStringRequest:
      type: object
      properties:
        output_id:
          type:
          - string
          - 'null'
          format: uuid
          description: The Vellum-generated ID of a workflow output. Must provide either this or output_key. output_key is typically preferred.
        output_key:
          type:
          - string
          - 'null'
          description: The user-defined name of a workflow output. Must provide either this or output_id. Should correspond to the `Name` specified in a Final Output Node. Generally preferred over output_id.
        quality:
          type:
          - number
          - 'null'
          format: double
          description: Optionally provide a decimal number between 0.0 and 1.0 (inclusive) representing the quality of the output. 0 is the worst, 1 is the best.
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
          description: Optionally provide additional metadata about the feedback submission.
        timestamp:
          type:
          - number
          - 'null'
          format: double
          description: Optionally provide the timestamp representing when this feedback was collected. Used for reporting purposes.
        output_type:
          $ref: '#/components/schemas/StringEnum'
          description: The variable type of the output that this actual is being submitted for.
        desired_output_value:
          type:
          - string
          - 'null'
          description: Optionally provide the value that the output ideally should have been.
      required:
      - output_type
      title: WorkflowExecutionActualStringRequest
    AudioEnum:
      type: string
      enum:
      - AUDIO
      title: AudioEnum
  securitySchemes:
    default:
      type: apiKey
      in: header
      name: X-API-KEY
