openapi: 3.1.0
info:
  title: Client SDK subpackage_workspaceSecrets API
  version: 1.0.0
servers:
- url: https://predict.vellum.ai
- url: https://api.vellum.ai
- url: https://documents.vellum.ai
tags:
- name: subpackage_workspaceSecrets
paths:
  /v1/workspace-secrets/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Used to retrieve a Workspace Secret given its ID or name.
      tags:
      - subpackage_workspaceSecrets
      parameters:
      - name: id
        in: path
        description: Either the Workspace Secret's ID or its unique name
        required: true
        schema:
          type: string
      - name: X-API-KEY
        in: header
        required: true
        schema:
          type: string
      - name: X-API-Version
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSecretRead'
    patch:
      operationId: partial-update
      summary: Partial Update
      description: Used to update a Workspace Secret given its ID or name.
      tags:
      - subpackage_workspaceSecrets
      parameters:
      - name: id
        in: path
        description: Either the Workspace Secret's ID or its unique name
        required: true
        schema:
          type: string
      - name: X-API-KEY
        in: header
        required: true
        schema:
          type: string
      - name: X-API-Version
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSecretRead'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedWorkspaceSecretUpdateRequest'
components:
  schemas:
    PatchedWorkspaceSecretUpdateRequest:
      type: object
      properties:
        label:
          type: string
        value:
          type: string
      title: PatchedWorkspaceSecretUpdateRequest
    WorkspaceSecretRead:
      type: object
      properties:
        id:
          type: string
          format: uuid
        modified:
          type: string
          format: date-time
        name:
          type: string
        label:
          type: string
        secret_type:
          $ref: '#/components/schemas/SecretTypeEnum'
      required:
      - id
      - modified
      - name
      - label
      - secret_type
      title: WorkspaceSecretRead
    SecretTypeEnum:
      type: string
      enum:
      - USER_DEFINED
      - HMAC
      - INTERNAL_API_KEY
      - EXTERNALLY_PROVISIONED
      description: '* `USER_DEFINED` - User Defined

        * `HMAC` - Hmac

        * `INTERNAL_API_KEY` - Internal Api Key

        * `EXTERNALLY_PROVISIONED` - Externally Provisioned'
      title: SecretTypeEnum
  securitySchemes:
    default:
      type: apiKey
      in: header
      name: X-API-KEY
