openapi: 3.1.0
info:
  title: Client SDK subpackage_workflowExecutions API
  version: 1.0.0
servers:
- url: https://predict.vellum.ai
- url: https://api.vellum.ai
- url: https://documents.vellum.ai
tags:
- name: subpackage_workflowExecutions
paths:
  /v1/workflow-executions/{execution_id}/detail:
    get:
      operationId: retrieve-workflow-execution-detail
      summary: Retrieve Workflow Execution Detail
      tags:
      - subpackage_workflowExecutions
      parameters:
      - name: execution_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: prev_span_id
        in: query
        description: Optional keyset cursor span_id to continue from (exclusive)
        required: false
        schema:
          type: string
          format: uuid
      - name: span_limit
        in: query
        description: Maximum number of spans to return (for lazy loading)
        required: false
        schema:
          type: integer
      - name: X-API-KEY
        in: header
        required: true
        schema:
          type: string
      - name: X-API-Version
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowExecutionDetail'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailResponse'
        '421':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateActiveWorkspaceResponse'
components:
  schemas:
    WorkflowNodeEnum:
      type: string
      enum:
      - WORKFLOW_NODE
      title: WorkflowNodeEnum
    ErrorVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ErrorEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/VellumError'
          - type: 'null'
      required:
      - type
      - value
      description: A value representing an Error.
      title: ErrorVellumValue
    PdfEnum:
      type: string
      enum:
      - PDF
      title: PdfEnum
    workflow.execution.snapshottedEnum:
      type: string
      enum:
      - workflow.execution.snapshotted
      title: workflow.execution.snapshottedEnum
    SearchResultsVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SearchResultsEnum'
        value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SearchResult'
      required:
      - type
      - value
      description: A value representing Search Results.
      title: SearchResultsVellumValue
    ChatHistoryVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ChatHistoryEnum'
        value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChatMessage'
      required:
      - type
      - value
      description: A value representing Chat History.
      title: ChatHistoryVellumValue
    ArrayVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ArrayEnum'
        value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VellumValue'
      required:
      - type
      - value
      description: A value representing an array of Vellum variable values.
      title: ArrayVellumValue
    NodeParentContext:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        node_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        type:
          $ref: '#/components/schemas/WorkflowNodeEnum'
        span_id:
          type: string
          format: uuid
      required:
      - node_definition
      - type
      - span_id
      title: NodeParentContext
    IntegrationEnum:
      type: string
      enum:
      - INTEGRATION
      title: IntegrationEnum
    ExecutionArrayVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/ArrayEnum'
        value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VellumValue'
      required:
      - id
      - name
      - type
      - value
      description: A value representing an array of Vellum variable values.
      title: ExecutionArrayVellumValue
    WorkflowExecutionUsageCalculationError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/WorkflowExecutionUsageCalculationErrorCodeEnum'
        message:
          type: string
      required:
      - code
      - message
      title: WorkflowExecutionUsageCalculationError
    VellumSpan:
      oneOf:
      - $ref: '#/components/schemas/WorkflowExecutionSpan'
      - $ref: '#/components/schemas/NodeExecutionSpan'
      title: VellumSpan
    workflow.execution.rejectedEnum:
      type: string
      enum:
      - workflow.execution.rejected
      title: workflow.execution.rejectedEnum
    VideoEnum:
      type: string
      enum:
      - VIDEO
      title: VideoEnum
    NodeExecutionFulfilledBody:
      type: object
      properties:
        node_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        invoked_ports:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/InvokedPort'
        outputs:
          type: object
          additionalProperties:
            description: Any type
        mocked:
          type:
          - boolean
          - 'null'
        redacted:
          type:
          - boolean
          - 'null'
      required:
      - node_definition
      - outputs
      title: NodeExecutionFulfilledBody
    VideoChatMessageContent:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/VideoEnum'
        value:
          $ref: '#/components/schemas/VellumVideo'
      required:
      - type
      - value
      description: A video value that is used in a chat message.
      title: VideoChatMessageContent
    UpdateActiveWorkspaceResponse:
      type: object
      properties:
        update_active_workspace_id:
          type:
          - string
          - 'null'
          format: uuid
          description: The id of the workspace that the user should update to, or null if no workspace change needed.
        update_active_environment_id:
          type:
          - string
          - 'null'
          format: uuid
          description: The id of the environment that the user should update to, or null if no environment change needed.
        is_staff:
          type: boolean
          description: Whether or not the user is a staff member of Vellum.
      required:
      - update_active_workspace_id
      - update_active_environment_id
      title: UpdateActiveWorkspaceResponse
    ExecutionImageVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/ImageEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/VellumImage'
          - type: 'null'
      required:
      - id
      - name
      - type
      - value
      description: A base Vellum primitive value representing an image.
      title: ExecutionImageVellumValue
    WorkflowExecutionSnapshottedBody:
      type: object
      properties:
        workflow_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        edited_by:
          oneOf:
          - $ref: '#/components/schemas/VellumCodeResourceDefinition'
          - type: 'null'
        state:
          type: object
          additionalProperties:
            description: Any type
      required:
      - workflow_definition
      - state
      title: WorkflowExecutionSnapshottedBody
    SearchResultMeta:
      type: object
      properties:
        source:
          oneOf:
          - $ref: '#/components/schemas/SearchResultMetaSource'
          - type: 'null'
      title: SearchResultMeta
    AudioVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AudioEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/VellumAudio'
          - type: 'null'
      required:
      - type
      - value
      description: A base Vellum primitive value representing audio.
      title: AudioVellumValue
    node.executionEnum:
      type: string
      enum:
      - node.execution
      title: node.executionEnum
    VellumSdkErrorCodeEnum:
      type: string
      enum:
      - INVALID_WORKFLOW
      - INVALID_INPUTS
      - INVALID_OUTPUTS
      - INVALID_STATE
      - INVALID_CODE
      - INVALID_TEMPLATE
      - INTERNAL_ERROR
      - PROVIDER_CREDENTIALS_UNAVAILABLE
      - INTEGRATION_CREDENTIALS_UNAVAILABLE
      - PROVIDER_ERROR
      - PROVIDER_QUOTA_EXCEEDED
      - USER_DEFINED_ERROR
      - WORKFLOW_CANCELLED
      - WORKFLOW_TIMEOUT
      - NODE_CANCELLED
      - NODE_TIMEOUT
      - NODE_EXECUTION
      description: '* `INVALID_WORKFLOW` - INVALID_WORKFLOW

        * `INVALID_INPUTS` - INVALID_INPUTS

        * `INVALID_OUTPUTS` - INVALID_OUTPUTS

        * `INVALID_STATE` - INVALID_STATE

        * `INVALID_CODE` - INVALID_CODE

        * `INVALID_TEMPLATE` - INVALID_TEMPLATE

        * `INTERNAL_ERROR` - INTERNAL_ERROR

        * `PROVIDER_CREDENTIALS_UNAVAILABLE` - PROVIDER_CREDENTIALS_UNAVAILABLE

        * `INTEGRATION_CREDENTIALS_UNAVAILABLE` - INTEGRATION_CREDENTIALS_UNAVAILABLE

        * `PROVIDER_ERROR` - PROVIDER_ERROR

        * `PROVIDER_QUOTA_EXCEEDED` - PROVIDER_QUOTA_EXCEEDED

        * `USER_DEFINED_ERROR` - USER_DEFINED_ERROR

        * `WORKFLOW_CANCELLED` - WORKFLOW_CANCELLED

        * `WORKFLOW_TIMEOUT` - WORKFLOW_TIMEOUT

        * `NODE_CANCELLED` - NODE_CANCELLED

        * `NODE_TIMEOUT` - NODE_TIMEOUT

        * `NODE_EXECUTION` - NODE_EXECUTION'
      title: VellumSdkErrorCodeEnum
    WorkflowInitializationError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
      description: Workflow initialization error.
      title: WorkflowInitializationError
    ExecutionVellumValue:
      oneOf:
      - $ref: '#/components/schemas/ExecutionStringVellumValue'
      - $ref: '#/components/schemas/ExecutionNumberVellumValue'
      - $ref: '#/components/schemas/ExecutionJsonVellumValue'
      - $ref: '#/components/schemas/ExecutionChatHistoryVellumValue'
      - $ref: '#/components/schemas/ExecutionSearchResultsVellumValue'
      - $ref: '#/components/schemas/ExecutionErrorVellumValue'
      - $ref: '#/components/schemas/ExecutionArrayVellumValue'
      - $ref: '#/components/schemas/ExecutionFunctionCallVellumValue'
      - $ref: '#/components/schemas/ExecutionThinkingVellumValue'
      - $ref: '#/components/schemas/ExecutionAudioVellumValue'
      - $ref: '#/components/schemas/ExecutionVideoVellumValue'
      - $ref: '#/components/schemas/ExecutionImageVellumValue'
      - $ref: '#/components/schemas/ExecutionDocumentVellumValue'
      title: ExecutionVellumValue
    ArrayChatMessageContent:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ArrayEnum'
        value:
          type: array
          items:
            $ref: '#/components/schemas/ArrayChatMessageContentItem'
      required:
      - type
      - value
      description: A list of chat message content items.
      title: ArrayChatMessageContent
    workflow.execution.resumedEnum:
      type: string
      enum:
      - workflow.execution.resumed
      title: workflow.execution.resumedEnum
    node.execution.rejectedEnum:
      type: string
      enum:
      - node.execution.rejected
      title: node.execution.rejectedEnum
    NodeExecutionResumedEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/node.execution.resumedEnum'
        body:
          $ref: '#/components/schemas/NodeExecutionResumedBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: NodeExecutionResumedEvent
    WorkflowExecutionStreamingEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/workflow.execution.streamingEnum'
        body:
          $ref: '#/components/schemas/WorkflowExecutionStreamingBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: WorkflowExecutionStreamingEvent
    ChatMessageRole:
      type: string
      enum:
      - SYSTEM
      - ASSISTANT
      - USER
      - FUNCTION
      description: '* `SYSTEM` - System

        * `ASSISTANT` - Assistant

        * `USER` - User

        * `FUNCTION` - Function'
      title: ChatMessageRole
    NodeExecutionPausedEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/node.execution.pausedEnum'
        body:
          $ref: '#/components/schemas/NodeExecutionPausedBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: NodeExecutionPausedEvent
    node.execution.pausedEnum:
      type: string
      enum:
      - node.execution.paused
      title: node.execution.pausedEnum
    NumberEnum:
      type: string
      enum:
      - NUMBER
      title: NumberEnum
    ExecutionAudioVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/AudioEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/VellumAudio'
          - type: 'null'
      required:
      - id
      - name
      - type
      - value
      description: A base Vellum primitive value representing audio.
      title: ExecutionAudioVellumValue
    node.execution.resumedEnum:
      type: string
      enum:
      - node.execution.resumed
      title: node.execution.resumedEnum
    WorkflowExecutionUsageCalculationErrorCodeEnum:
      type: string
      enum:
      - UNKNOWN
      - DEPENDENCIES_FAILED
      - NO_USAGE_CALCULATED
      - INTERNAL_SERVER_ERROR
      description: '* `UNKNOWN` - UNKNOWN

        * `DEPENDENCIES_FAILED` - DEPENDENCIES_FAILED

        * `NO_USAGE_CALCULATED` - NO_USAGE_CALCULATED

        * `INTERNAL_SERVER_ERROR` - INTERNAL_SERVER_ERROR'
      title: WorkflowExecutionUsageCalculationErrorCodeEnum
    NodeExecutionPausedBody:
      type: object
      properties:
        node_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
      required:
      - node_definition
      title: NodeExecutionPausedBody
    WorkflowExecutionSpan:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workflow.executionEnum'
        events:
          type: array
          items:
            $ref: '#/components/schemas/VellumWorkflowExecutionEvent'
        attributes:
          $ref: '#/components/schemas/WorkflowExecutionSpanAttributes'
        usage_result:
          oneOf:
          - $ref: '#/components/schemas/WorkflowExecutionUsageCalculationFulfilledBody'
          - type: 'null'
        span_id:
          type: string
          format: uuid
        start_ts:
          type: string
          format: date-time
        end_ts:
          type: string
          format: date-time
        parent_span_id:
          type:
          - string
          - 'null'
          format: uuid
      required:
      - name
      - events
      - attributes
      - span_id
      - start_ts
      - end_ts
      - parent_span_id
      title: WorkflowExecutionSpan
    VellumImage:
      type: object
      properties:
        src:
          type: string
          description: "The reference to the source data. This can be one of the following formats:\n1. A base64-encoded data URL (e.g., 'data:application/pdf;base64,JVBERi0xLjQKJcfs...').\n2. A url pointing to a file accessible over HTTP or HTTPS.\n3. A reference to a file that's been previously uploaded to Vellum, in the form of 'vellum:uploaded-file:{uploaded_file_id}'.\n    You can use the Uploaded Files API to retrieve the url of the uploaded file given its ID. See https://docs.vellum.ai/developers/client-sdk/uploaded-files/retrieve for details."
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      required:
      - src
      title: VellumImage
    IntegrationTriggerContext:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        type:
          $ref: '#/components/schemas/IntegrationEnum'
        trigger_id:
          type:
          - string
          - 'null'
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - type
      - span_id
      title: IntegrationTriggerContext
    SpanLink:
      type: object
      properties:
        trace_id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/SpanLinkTypeEnum'
        span_context:
          $ref: '#/components/schemas/ParentContext'
      required:
      - trace_id
      - type
      - span_context
      title: SpanLink
    StringVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/StringEnum'
        value:
          type:
          - string
          - 'null'
      required:
      - type
      - value
      description: A value representing a string.
      title: StringVellumValue
    VellumCodeResourceDefinition:
      type: object
      properties:
        name:
          type: string
        module:
          type: array
          items:
            type: string
          description: The module that this resource is defined in.
        exclude_from_monitoring:
          type:
          - boolean
          - 'null'
          description: Whether this node should be excluded from monitoring views.
        id:
          type: string
          format: uuid
      required:
      - name
      - module
      - id
      title: VellumCodeResourceDefinition
    ExecutionErrorVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/ErrorEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/VellumError'
          - type: 'null'
      required:
      - id
      - name
      - type
      - value
      description: A value representing an Error.
      title: ExecutionErrorVellumValue
    BaseOutput:
      type: object
      properties:
        value:
          oneOf:
          - description: Any type
          - type: 'null'
        delta:
          oneOf:
          - description: Any type
          - type: 'null'
        name:
          type: string
      required:
      - name
      title: BaseOutput
    WorkflowExecutionPausedBody:
      type: object
      properties:
        workflow_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        external_inputs:
          type: array
          items:
            $ref: '#/components/schemas/ExternalInputDescriptor'
      required:
      - workflow_definition
      - external_inputs
      title: WorkflowExecutionPausedBody
    NodeExecutionFulfilledEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/node.execution.fulfilledEnum'
        body:
          $ref: '#/components/schemas/NodeExecutionFulfilledBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: NodeExecutionFulfilledEvent
    WorkflowExecutionResumedBody:
      type: object
      properties:
        workflow_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
      required:
      - workflow_definition
      title: WorkflowExecutionResumedBody
    NodeExecutionLogEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/node.execution.logEnum'
        body:
          $ref: '#/components/schemas/NodeExecutionLogBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: NodeExecutionLogEvent
    WorkflowError:
      oneOf:
      - $ref: '#/components/schemas/WorkflowEventError'
      - $ref: '#/components/schemas/WorkflowInitializationError'
      title: WorkflowError
    node.execution.logEnum:
      type: string
      enum:
      - node.execution.log
      title: node.execution.logEnum
    WorkflowExecutionRejectedEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/workflow.execution.rejectedEnum'
        body:
          $ref: '#/components/schemas/WorkflowExecutionRejectedBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: WorkflowExecutionRejectedEvent
    ExecutionFunctionCallVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/FunctionCallEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/FunctionCall'
          - type: 'null'
      required:
      - id
      - name
      - type
      - value
      description: A value representing a Function Call.
      title: ExecutionFunctionCallVellumValue
    workflow.execution.streamingEnum:
      type: string
      enum:
      - workflow.execution.streaming
      title: workflow.execution.streamingEnum
    WorkflowEnum:
      type: string
      enum:
      - WORKFLOW
      title: WorkflowEnum
    MLModelUsageWrapper:
      type: object
      properties:
        ml_model_name:
          type: string
        ml_model_usage:
          $ref: '#/components/schemas/MLModelUsage'
      required:
      - ml_model_name
      - ml_model_usage
      title: MLModelUsageWrapper
    VellumDocument:
      type: object
      properties:
        src:
          type: string
          description: "The reference to the source data. This can be one of the following formats:\n1. A base64-encoded data URL (e.g., 'data:application/pdf;base64,JVBERi0xLjQKJcfs...').\n2. A url pointing to a file accessible over HTTP or HTTPS.\n3. A reference to a file that's been previously uploaded to Vellum, in the form of 'vellum:uploaded-file:{uploaded_file_id}'.\n    You can use the Uploaded Files API to retrieve the url of the uploaded file given its ID. See https://docs.vellum.ai/developers/client-sdk/uploaded-files/retrieve for details."
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      required:
      - src
      title: VellumDocument
    Price:
      type: object
      properties:
        value:
          type: number
          format: double
        unit:
          $ref: '#/components/schemas/UnitEnum'
      required:
      - value
      - unit
      title: Price
    node.execution.fulfilledEnum:
      type: string
      enum:
      - node.execution.fulfilled
      title: node.execution.fulfilledEnum
    VideoVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/VideoEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/VellumVideo'
          - type: 'null'
      required:
      - type
      - value
      description: A base Vellum primitive value representing a video.
      title: VideoVellumValue
    PdfSearchResultMetaSource:
      type: object
      properties:
        document_type:
          $ref: '#/components/schemas/PdfEnum'
        start_page_num:
          type:
          - integer
          - 'null'
          description: The 1-indexed page number where the chunk starts in the document. Only available for supported chunking strategies and document types.
        end_page_num:
          type:
          - integer
          - 'null'
          description: The 1-indexed page number where the chunk ends in the document. Only available for supported chunking strategies and document types.
      required:
      - document_type
      - start_page_num
      - end_page_num
      description: The source of a search result from a PDF document.
      title: PdfSearchResultMetaSource
    ExecutionVideoVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/VideoEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/VellumVideo'
          - type: 'null'
      required:
      - id
      - name
      - type
      - value
      description: A base Vellum primitive value representing a video.
      title: ExecutionVideoVellumValue
    workflow.execution.pausedEnum:
      type: string
      enum:
      - workflow.execution.paused
      title: workflow.execution.pausedEnum
    ScheduledEnum:
      type: string
      enum:
      - SCHEDULED
      title: ScheduledEnum
    SpanLinkTypeEnum:
      type: string
      enum:
      - TRIGGERED_BY
      - PREVIOUS_SPAN
      - ROOT_SPAN
      description: '* `TRIGGERED_BY` - TRIGGERED_BY

        * `PREVIOUS_SPAN` - PREVIOUS_SPAN

        * `ROOT_SPAN` - ROOT_SPAN'
      title: SpanLinkTypeEnum
    NodeExecutionInitiatedEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/node.execution.initiatedEnum'
        body:
          $ref: '#/components/schemas/NodeExecutionInitiatedBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: NodeExecutionInitiatedEvent
    WorkflowExecutionFulfilledBody:
      type: object
      properties:
        workflow_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        outputs:
          type: object
          additionalProperties:
            description: Any type
        final_state:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        server_metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        redacted:
          type:
          - boolean
          - 'null'
      required:
      - workflow_definition
      - outputs
      title: WorkflowExecutionFulfilledBody
    ExecutionStringVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/StringEnum'
        value:
          type:
          - string
          - 'null'
      required:
      - id
      - name
      - type
      - value
      description: A value representing a string.
      title: ExecutionStringVellumValue
    ExternalParentContext:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        type:
          $ref: '#/components/schemas/ExternalEnum'
        span_id:
          type: string
          format: uuid
      required:
      - type
      - span_id
      title: ExternalParentContext
    AudioEnum:
      type: string
      enum:
      - AUDIO
      title: AudioEnum
    ImageEnum:
      type: string
      enum:
      - IMAGE
      title: ImageEnum
    NodeExecutionLogBody:
      type: object
      properties:
        node_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        message:
          type: string
        attributes:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        severity:
          $ref: '#/components/schemas/SeverityEnum'
      required:
      - node_definition
      - message
      - severity
      title: NodeExecutionLogBody
    FunctionCall:
      type: object
      properties:
        arguments:
          type: object
          additionalProperties:
            description: Any type
        id:
          type:
          - string
          - 'null'
        name:
          type: string
      required:
      - arguments
      - name
      description: The final resolved function call value.
      title: FunctionCall
    JsonVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/JsonEnum'
        value:
          oneOf:
          - description: Any type
          - type: 'null'
      required:
      - type
      - value
      description: A value representing a JSON object.
      title: JsonVellumValue
    StringChatMessageContent:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/StringEnum'
        value:
          type: string
      required:
      - type
      - value
      description: A string value that is used in a chat message.
      title: StringChatMessageContent
    VellumError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/VellumErrorCodeEnum'
        message:
          type: string
        raw_data:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      required:
      - code
      - message
      title: VellumError
    FunctionCallChatMessageContentValue:
      type: object
      properties:
        name:
          type: string
        arguments:
          type: object
          additionalProperties:
            description: Any type
        id:
          type:
          - string
          - 'null'
      required:
      - name
      - arguments
      description: The final resolved function call value.
      title: FunctionCallChatMessageContentValue
    ExternalInputDescriptor:
      type: object
      properties:
        types:
          type: array
          items:
            $ref: '#/components/schemas/CodeResourceDefinition'
        inputs_class:
          oneOf:
          - $ref: '#/components/schemas/CodeResourceDefinition'
          - type: 'null'
        instance:
          oneOf:
          - description: Any type
          - type: 'null'
        name:
          type: string
      required:
      - types
      - name
      title: ExternalInputDescriptor
    node.execution.initiatedEnum:
      type: string
      enum:
      - node.execution.initiated
      title: node.execution.initiatedEnum
    WorkflowExecutionEventErrorCode:
      type: string
      enum:
      - WORKFLOW_INITIALIZATION
      - WORKFLOW_CANCELLED
      - WORKFLOW_TIMEOUT
      - PROVIDER_CREDENTIALS_UNAVAILABLE
      - INTEGRATION_CREDENTIALS_UNAVAILABLE
      - NODE_EXECUTION_COUNT_LIMIT_REACHED
      - INTERNAL_SERVER_ERROR
      - NODE_EXECUTION
      - NODE_CANCELLED
      - NODE_TIMEOUT
      - LLM_PROVIDER
      - INVALID_TEMPLATE
      - INVALID_INPUTS
      - PROVIDER_QUOTA_EXCEEDED
      - USER_DEFINED_ERROR
      description: '* `WORKFLOW_INITIALIZATION` - WORKFLOW_INITIALIZATION

        * `WORKFLOW_CANCELLED` - WORKFLOW_CANCELLED

        * `WORKFLOW_TIMEOUT` - WORKFLOW_TIMEOUT

        * `PROVIDER_CREDENTIALS_UNAVAILABLE` - PROVIDER_CREDENTIALS_UNAVAILABLE

        * `INTEGRATION_CREDENTIALS_UNAVAILABLE` - INTEGRATION_CREDENTIALS_UNAVAILABLE

        * `NODE_EXECUTION_COUNT_LIMIT_REACHED` - NODE_EXECUTION_COUNT_LIMIT_REACHED

        * `INTERNAL_SERVER_ERROR` - INTERNAL_SERVER_ERROR

        * `NODE_EXECUTION` - NODE_EXECUTION

        * `NODE_CANCELLED` - NODE_CANCELLED

        * `NODE_TIMEOUT` - NODE_TIMEOUT

        * `LLM_PROVIDER` - LLM_PROVIDER

        * `INVALID_TEMPLATE` - INVALID_TEMPLATE

        * `INVALID_INPUTS` - INVALID_INPUTS

        * `PROVIDER_QUOTA_EXCEEDED` - PROVIDER_QUOTA_EXCEEDED

        * `USER_DEFINED_ERROR` - USER_DEFINED_ERROR'
      title: WorkflowExecutionEventErrorCode
    WorkflowEventErrorRawData:
      oneOf:
      - type: object
        additionalProperties:
          description: Any type
      - type: string
      title: WorkflowEventErrorRawData
    DocumentChatMessageContent:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/DocumentEnum'
        value:
          $ref: '#/components/schemas/VellumDocument'
      required:
      - type
      - value
      description: A document value that is used in a chat message.
      title: DocumentChatMessageContent
    UnitEnum:
      type: string
      enum:
      - USD
      description: '* `USD` - USD'
      title: UnitEnum
    ChatMessageContent:
      oneOf:
      - $ref: '#/components/schemas/StringChatMessageContent'
      - $ref: '#/components/schemas/FunctionCallChatMessageContent'
      - $ref: '#/components/schemas/ArrayChatMessageContent'
      - $ref: '#/components/schemas/AudioChatMessageContent'
      - $ref: '#/components/schemas/VideoChatMessageContent'
      - $ref: '#/components/schemas/ImageChatMessageContent'
      - $ref: '#/components/schemas/DocumentChatMessageContent'
      title: ChatMessageContent
    ParentContext:
      oneOf:
      - $ref: '#/components/schemas/WorkflowParentContext'
      - $ref: '#/components/schemas/NodeParentContext'
      - $ref: '#/components/schemas/WorkflowDeploymentParentContext'
      - $ref: '#/components/schemas/WorkflowSandboxParentContext'
      - $ref: '#/components/schemas/PromptDeploymentParentContext'
      - $ref: '#/components/schemas/APIRequestParentContext'
      - $ref: '#/components/schemas/ExternalParentContext'
      - $ref: '#/components/schemas/ScheduledTriggerContext'
      - $ref: '#/components/schemas/IntegrationTriggerContext'
      title: ParentContext
    DocumentVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/DocumentEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/VellumDocument'
          - type: 'null'
      required:
      - type
      - value
      description: A base Vellum primitive value representing a document.
      title: DocumentVellumValue
    StringEnum:
      type: string
      enum:
      - STRING
      title: StringEnum
    NumberVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/NumberEnum'
        value:
          type:
          - number
          - 'null'
          format: double
      required:
      - type
      - value
      description: A value representing a number.
      title: NumberVellumValue
    APIRequestParentContext:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        type:
          $ref: '#/components/schemas/ApiRequestEnum'
        span_id:
          type: string
          format: uuid
        api_actor_id:
          type:
          - string
          - 'null'
        api_actor_type:
          oneOf:
          - $ref: '#/components/schemas/ApiActorTypeEnum'
          - type: 'null'
        api_actor_label:
          type:
          - string
          - 'null'
      required:
      - type
      - span_id
      title: APIRequestParentContext
    ExecutionSearchResultsVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/SearchResultsEnum'
        value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SearchResult'
      required:
      - id
      - name
      - type
      - value
      description: A value representing Search Results.
      title: ExecutionSearchResultsVellumValue
    VellumSdkError:
      type: object
      properties:
        message:
          type: string
        raw_data:
          oneOf:
          - $ref: '#/components/schemas/VellumSdkErrorRawData'
          - type: 'null'
        code:
          $ref: '#/components/schemas/VellumSdkErrorCodeEnum'
      required:
      - message
      - code
      title: VellumSdkError
    InvokedPort:
      type: object
      properties:
        name:
          type: string
      required:
      - name
      title: InvokedPort
    SeverityEnum:
      type: string
      enum:
      - DEBUG
      - INFO
      - WARNING
      - ERROR
      description: '* `DEBUG` - DEBUG

        * `INFO` - INFO

        * `WARNING` - WARNING

        * `ERROR` - ERROR'
      title: SeverityEnum
    ThinkingEnum:
      type: string
      enum:
      - THINKING
      title: ThinkingEnum
    ExecutionDocumentVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/DocumentEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/VellumDocument'
          - type: 'null'
      required:
      - id
      - name
      - type
      - value
      description: A base Vellum primitive value representing a document.
      title: ExecutionDocumentVellumValue
    WorkflowExecutionDetail:
      type: object
      properties:
        span_id:
          type: string
          format: uuid
        parent_context:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        start:
          type: string
          format: date-time
        end:
          type:
          - string
          - 'null'
          format: date-time
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/ExecutionVellumValue'
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/ExecutionVellumValue'
        error:
          oneOf:
          - $ref: '#/components/schemas/WorkflowError'
          - type: 'null'
        usage_results:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WorkflowExecutionUsageResult'
        spans:
          type: array
          items:
            $ref: '#/components/schemas/VellumSpan'
        state:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      required:
      - span_id
      - parent_context
      - start
      - end
      - inputs
      - outputs
      - error
      - usage_results
      - spans
      title: WorkflowExecutionDetail
    FunctionCallVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/FunctionCallEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/FunctionCall'
          - type: 'null'
      required:
      - type
      - value
      description: A value representing a Function Call.
      title: FunctionCallVellumValue
    NodeExecutionInitiatedBody:
      type: object
      properties:
        node_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        inputs:
          type: object
          additionalProperties:
            description: Any type
      required:
      - node_definition
      - inputs
      title: NodeExecutionInitiatedBody
    CodeResourceDefinition:
      type: object
      properties:
        name:
          type: string
          description: The name of the resource, typically a class name.
        module:
          type: array
          items:
            type: string
          description: The module that this resource is defined in.
      required:
      - name
      - module
      description: The definition of a resource defined in code.
      title: CodeResourceDefinition
    WorkflowReleaseTagEnum:
      type: string
      enum:
      - WORKFLOW_RELEASE_TAG
      title: WorkflowReleaseTagEnum
    ImageVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ImageEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/VellumImage'
          - type: 'null'
      required:
      - type
      - value
      description: A base Vellum primitive value representing an image.
      title: ImageVellumValue
    VellumSdkErrorRawData:
      oneOf:
      - type: object
        additionalProperties:
          description: Any type
      - type: string
      title: VellumSdkErrorRawData
    WorkflowExecutionUsageCalculationFulfilledBody:
      type: object
      properties:
        usage:
          type: array
          items:
            $ref: '#/components/schemas/MLModelUsageWrapper'
        cost:
          type: array
          items:
            $ref: '#/components/schemas/Price'
      required:
      - usage
      - cost
      title: WorkflowExecutionUsageCalculationFulfilledBody
    JsonEnum:
      type: string
      enum:
      - JSON
      title: JsonEnum
    NodeExecutionStreamingBody:
      type: object
      properties:
        node_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        output:
          $ref: '#/components/schemas/BaseOutput'
      required:
      - node_definition
      - output
      title: NodeExecutionStreamingBody
    ApiVersionEnum:
      type: string
      enum:
      - '2024-10-25'
      - '2025-07-30'
      description: '* `2024-10-25` - V2024_10_25

        * `2025-07-30` - V2025_07_30'
      title: ApiVersionEnum
    WorkflowExecutionSnapshottedEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/workflow.execution.snapshottedEnum'
        body:
          $ref: '#/components/schemas/WorkflowExecutionSnapshottedBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: WorkflowExecutionSnapshottedEvent
    NodeExecutionRejectedEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/node.execution.rejectedEnum'
        body:
          $ref: '#/components/schemas/NodeExecutionRejectedBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: NodeExecutionRejectedEvent
    NodeExecutionSpan:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/node.executionEnum'
        events:
          type: array
          items:
            $ref: '#/components/schemas/VellumNodeExecutionEvent'
        attributes:
          $ref: '#/components/schemas/NodeExecutionSpanAttributes'
        usage_result:
          oneOf:
          - $ref: '#/components/schemas/WorkflowExecutionUsageCalculationFulfilledBody'
          - type: 'null'
        span_id:
          type: string
          format: uuid
        start_ts:
          type: string
          format: date-time
        end_ts:
          type: string
          format: date-time
        parent_span_id:
          type:
          - string
          - 'null'
          format: uuid
      required:
      - name
      - events
      - attributes
      - span_id
      - start_ts
      - end_ts
      - parent_span_id
      title: NodeExecutionSpan
    FunctionCallEnum:
      type: string
      enum:
      - FUNCTION_CALL
      title: FunctionCallEnum
    SearchResultsEnum:
      type: string
      enum:
      - SEARCH_RESULTS
      title: SearchResultsEnum
    node.execution.streamingEnum:
      type: string
      enum:
      - node.execution.streaming
      title: node.execution.streamingEnum
    ArrayEnum:
      type: string
      enum:
      - ARRAY
      title: ArrayEnum
    VellumErrorCodeEnum:
      type: string
      enum:
      - INVALID_REQUEST
      - INVALID_INPUTS
      - PROVIDER_ERROR
      - PROVIDER_CREDENTIALS_UNAVAILABLE
      - INTEGRATION_CREDENTIALS_UNAVAILABLE
      - REQUEST_TIMEOUT
      - INTERNAL_SERVER_ERROR
      - USER_DEFINED_ERROR
      - WORKFLOW_CANCELLED
      - NODE_CANCELLED
      - PROVIDER_QUOTA_EXCEEDED
      - CHAT_QUOTA_EXCEEDED
      description: '* `INVALID_REQUEST` - INVALID_REQUEST

        * `INVALID_INPUTS` - INVALID_INPUTS

        * `PROVIDER_ERROR` - PROVIDER_ERROR

        * `PROVIDER_CREDENTIALS_UNAVAILABLE` - PROVIDER_CREDENTIALS_UNAVAILABLE

        * `INTEGRATION_CREDENTIALS_UNAVAILABLE` - INTEGRATION_CREDENTIALS_UNAVAILABLE

        * `REQUEST_TIMEOUT` - REQUEST_TIMEOUT

        * `INTERNAL_SERVER_ERROR` - INTERNAL_SERVER_ERROR

        * `USER_DEFINED_ERROR` - USER_DEFINED_ERROR

        * `WORKFLOW_CANCELLED` - WORKFLOW_CANCELLED

        * `NODE_CANCELLED` - NODE_CANCELLED

        * `PROVIDER_QUOTA_EXCEEDED` - PROVIDER_QUOTA_EXCEEDED

        * `CHAT_QUOTA_EXCEEDED` - CHAT_QUOTA_EXCEEDED'
      title: VellumErrorCodeEnum
    WorkflowSandboxParentContext:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        type:
          $ref: '#/components/schemas/WorkflowSandboxEnum'
        span_id:
          type: string
          format: uuid
        sandbox_id:
          type: string
          format: uuid
        sandbox_history_item_id:
          type: string
          format: uuid
        scenario_id:
          type: string
          format: uuid
      required:
      - type
      - span_id
      - sandbox_id
      - sandbox_history_item_id
      - scenario_id
      title: WorkflowSandboxParentContext
    VellumVideo:
      type: object
      properties:
        src:
          type: string
          description: "The reference to the source data. This can be one of the following formats:\n1. A base64-encoded data URL (e.g., 'data:application/pdf;base64,JVBERi0xLjQKJcfs...').\n2. A url pointing to a file accessible over HTTP or HTTPS.\n3. A reference to a file that's been previously uploaded to Vellum, in the form of 'vellum:uploaded-file:{uploaded_file_id}'.\n    You can use the Uploaded Files API to retrieve the url of the uploaded file given its ID. See https://docs.vellum.ai/developers/client-sdk/uploaded-files/retrieve for details."
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      required:
      - src
      title: VellumVideo
    ErrorEnum:
      type: string
      enum:
      - ERROR
      title: ErrorEnum
    WorkflowParentContext:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        workflow_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        type:
          $ref: '#/components/schemas/WorkflowEnum'
        span_id:
          type: string
          format: uuid
      required:
      - workflow_definition
      - type
      - span_id
      title: WorkflowParentContext
    ExecutionChatHistoryVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/ChatHistoryEnum'
        value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChatMessage'
      required:
      - id
      - name
      - type
      - value
      description: A value representing Chat History.
      title: ExecutionChatHistoryVellumValue
    WorkflowExecutionUsageResult:
      type: object
      properties:
        usage:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MLModelUsageWrapper'
        cost:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Price'
        error:
          oneOf:
          - $ref: '#/components/schemas/WorkflowExecutionUsageCalculationError'
          - type: 'null'
      title: WorkflowExecutionUsageResult
    ErrorDetailResponse:
      type: object
      properties:
        detail:
          type: string
          description: Message informing the user of the error.
      required:
      - detail
      title: ErrorDetailResponse
    ExecutionThinkingVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/ThinkingEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/StringVellumValue'
          - type: 'null'
      required:
      - id
      - name
      - type
      - value
      description: A value representing Thinking mode output.
      title: ExecutionThinkingVellumValue
    VellumWorkflowExecutionEvent:
      oneOf:
      - $ref: '#/components/schemas/WorkflowExecutionInitiatedEvent'
      - $ref: '#/components/schemas/WorkflowExecutionStreamingEvent'
      - $ref: '#/components/schemas/WorkflowExecutionFulfilledEvent'
      - $ref: '#/components/schemas/WorkflowExecutionRejectedEvent'
      - $ref: '#/components/schemas/WorkflowExecutionPausedEvent'
      - $ref: '#/components/schemas/WorkflowExecutionResumedEvent'
      - $ref: '#/components/schemas/WorkflowExecutionSnapshottedEvent'
      title: VellumWorkflowExecutionEvent
    ChatMessage:
      type: object
      properties:
        text:
          type:
          - string
          - 'null'
        role:
          $ref: '#/components/schemas/ChatMessageRole'
        content:
          oneOf:
          - $ref: '#/components/schemas/ChatMessageContent'
          - type: 'null'
        source:
          type:
          - string
          - 'null'
          description: An optional identifier representing who or what generated this message.
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      required:
      - role
      title: ChatMessage
    AudioChatMessageContent:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AudioEnum'
        value:
          $ref: '#/components/schemas/VellumAudio'
      required:
      - type
      - value
      description: An audio value that is used in a chat message.
      title: AudioChatMessageContent
    DocumentEnum:
      type: string
      enum:
      - DOCUMENT
      title: DocumentEnum
    NodeExecutionResumedBody:
      type: object
      properties:
        node_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
      required:
      - node_definition
      title: NodeExecutionResumedBody
    WorkflowEventError:
      type: object
      properties:
        message:
          type: string
        raw_data:
          oneOf:
          - $ref: '#/components/schemas/WorkflowEventErrorRawData'
          - type: 'null'
        code:
          $ref: '#/components/schemas/WorkflowExecutionEventErrorCode'
        stacktrace:
          type:
          - string
          - 'null'
      required:
      - message
      - code
      title: WorkflowEventError
    WorkflowExecutionRejectedBody:
      type: object
      properties:
        workflow_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        error:
          $ref: '#/components/schemas/VellumSdkError'
        stacktrace:
          type:
          - string
          - 'null'
      required:
      - workflow_definition
      - error
      title: WorkflowExecutionRejectedBody
    ExecutionJsonVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/JsonEnum'
        value:
          oneOf:
          - description: Any type
          - type: 'null'
      required:
      - id
      - name
      - type
      - value
      description: A value representing a JSON object.
      title: ExecutionJsonVellumValue
    workflow.execution.fulfilledEnum:
      type: string
      enum:
      - workflow.execution.fulfilled
      title: workflow.execution.fulfilledEnum
    PromptReleaseTagEnum:
      type: string
      enum:
      - PROMPT_RELEASE_TAG
      title: PromptReleaseTagEnum
    NodeExecutionRejectedBody:
      type: object
      properties:
        node_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        error:
          $ref: '#/components/schemas/VellumSdkError'
        stacktrace:
          type:
          - string
          - 'null'
      required:
      - node_definition
      - error
      title: NodeExecutionRejectedBody
    ChatHistoryEnum:
      type: string
      enum:
      - CHAT_HISTORY
      title: ChatHistoryEnum
    FunctionCallChatMessageContent:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/FunctionCallEnum'
        value:
          $ref: '#/components/schemas/FunctionCallChatMessageContentValue'
      required:
      - type
      - value
      description: A function call value that is used in a chat message.
      title: FunctionCallChatMessageContent
    ApiRequestEnum:
      type: string
      enum:
      - API_REQUEST
      title: ApiRequestEnum
    WorkflowExecutionInitiatedEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/workflow.execution.initiatedEnum'
        body:
          $ref: '#/components/schemas/WorkflowExecutionInitiatedBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: WorkflowExecutionInitiatedEvent
    ImageChatMessageContent:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ImageEnum'
        value:
          $ref: '#/components/schemas/VellumImage'
      required:
      - type
      - value
      description: An image value that is used in a chat message.
      title: ImageChatMessageContent
    SearchResult:
      type: object
      properties:
        text:
          type: string
          description: The text of the chunk that matched the search query.
        score:
          type: number
          format: double
          description: A score representing how well the chunk matches the search query.
        keywords:
          type: array
          items:
            type: string
        document:
          $ref: '#/components/schemas/SearchResultDocument'
          description: The document that contains the chunk that matched the search query.
        meta:
          oneOf:
          - $ref: '#/components/schemas/SearchResultMeta'
          - type: 'null'
          description: Additional information about the search result.
      required:
      - text
      - score
      - keywords
      - document
      title: SearchResult
    ThinkingVellumValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ThinkingEnum'
        value:
          oneOf:
          - $ref: '#/components/schemas/StringVellumValue'
          - type: 'null'
      required:
      - type
      - value
      description: A value representing Thinking mode output.
      title: ThinkingVellumValue
    VellumAudio:
      type: object
      properties:
        src:
          type: string
          description: "The reference to the source data. This can be one of the following formats:\n1. A base64-encoded data URL (e.g., 'data:application/pdf;base64,JVBERi0xLjQKJcfs...').\n2. A url pointing to a file accessible over HTTP or HTTPS.\n3. A reference to a file that's been previously uploaded to Vellum, in the form of 'vellum:uploaded-file:{uploaded_file_id}'.\n    You can use the Uploaded Files API to retrieve the url of the uploaded file given its ID. See https://docs.vellum.ai/developers/client-sdk/uploaded-files/retrieve for details."
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      required:
      - src
      title: VellumAudio
    WorkflowExecutionResumedEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/workflow.execution.resumedEnum'
        body:
          $ref: '#/components/schemas/WorkflowExecutionResumedBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: WorkflowExecutionResumedEvent
    SearchResultDocument:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          format: uuid
          description: The ID of the document.
        label:
          type: string
          description: The human-readable name for the document.
        external_id:
          type:
          - string
          - 'null'
          description: The unique ID of the document as represented in an external system and specified when it was originally uploaded.
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
          description: A previously supplied JSON object containing metadata that can be filtered on when searching.
      required:
      - label
      title: SearchResultDocument
    WorkflowSandboxEnum:
      type: string
      enum:
      - WORKFLOW_SANDBOX
      title: WorkflowSandboxEnum
    SearchResultMetaSource:
      oneOf:
      - $ref: '#/components/schemas/PdfSearchResultMetaSource'
      title: SearchResultMetaSource
    MLModelUsage:
      type: object
      properties:
        output_token_count:
          type:
          - integer
          - 'null'
        input_token_count:
          type:
          - integer
          - 'null'
        input_char_count:
          type:
          - integer
          - 'null'
        output_char_count:
          type:
          - integer
          - 'null'
        compute_nanos:
          type:
          - integer
          - 'null'
        cache_creation_input_tokens:
          type:
          - integer
          - 'null'
        cache_read_input_tokens:
          type:
          - integer
          - 'null'
      title: MLModelUsage
    PromptDeploymentParentContext:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        type:
          $ref: '#/components/schemas/PromptReleaseTagEnum'
        span_id:
          type: string
          format: uuid
        deployment_id:
          type: string
          format: uuid
        deployment_name:
          type: string
        deployment_history_item_id:
          type: string
          format: uuid
        release_tag_id:
          type: string
          format: uuid
        release_tag_name:
          type: string
        external_id:
          type:
          - string
          - 'null'
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        prompt_version_id:
          type: string
          format: uuid
      required:
      - type
      - span_id
      - deployment_id
      - deployment_name
      - deployment_history_item_id
      - release_tag_id
      - release_tag_name
      - prompt_version_id
      title: PromptDeploymentParentContext
    workflow.execution.initiatedEnum:
      type: string
      enum:
      - workflow.execution.initiated
      title: workflow.execution.initiatedEnum
    WorkflowExecutionInitiatedBody:
      type: object
      properties:
        workflow_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        inputs:
          type: object
          additionalProperties:
            description: Any type
        trigger:
          oneOf:
          - $ref: '#/components/schemas/VellumCodeResourceDefinition'
          - type: 'null'
      required:
      - workflow_definition
      - inputs
      title: WorkflowExecutionInitiatedBody
    ExternalEnum:
      type: string
      enum:
      - EXTERNAL
      title: ExternalEnum
    WorkflowExecutionSpanAttributes:
      type: object
      properties:
        label:
          type: string
        workflow_id:
          type: string
          format: uuid
      required:
      - label
      - workflow_id
      title: WorkflowExecutionSpanAttributes
    ExecutionNumberVellumValue:
      type: object
      properties:
        id:
          type: string
          description: The variable's uniquely identifying internal id.
        name:
          type: string
        type:
          $ref: '#/components/schemas/NumberEnum'
        value:
          type:
          - number
          - 'null'
          format: double
      required:
      - id
      - name
      - type
      - value
      description: A value representing a number.
      title: ExecutionNumberVellumValue
    VellumValue:
      oneOf:
      - $ref: '#/components/schemas/StringVellumValue'
      - $ref: '#/components/schemas/NumberVellumValue'
      - $ref: '#/components/schemas/JsonVellumValue'
      - $ref: '#/components/schemas/AudioVellumValue'
      - $ref: '#/components/schemas/VideoVellumValue'
      - $ref: '#/components/schemas/ImageVellumValue'
      - $ref: '#/components/schemas/DocumentVellumValue'
      - $ref: '#/components/schemas/FunctionCallVellumValue'
      - $ref: '#/components/schemas/ErrorVellumValue'
      - $ref: '#/components/schemas/ArrayVellumValue'
      - $ref: '#/components/schemas/ChatHistoryVellumValue'
      - $ref: '#/components/schemas/SearchResultsVellumValue'
      - $ref: '#/components/schemas/ThinkingVellumValue'
      title: VellumValue
    NodeExecutionSpanAttributes:
      type: object
      properties:
        label:
          type: string
        filepath:
          type:
          - string
          - 'null'
        node_id:
          type: string
          format: uuid
      required:
      - label
      - node_id
      title: NodeExecutionSpanAttributes
    ArrayChatMessageContentItem:
      oneOf:
      - $ref: '#/components/schemas/StringChatMessageContent'
      - $ref: '#/components/schemas/FunctionCallChatMessageContent'
      - $ref: '#/components/schemas/AudioChatMessageContent'
      - $ref: '#/components/schemas/VideoChatMessageContent'
      - $ref: '#/components/schemas/ImageChatMessageContent'
      - $ref: '#/components/schemas/DocumentChatMessageContent'
      title: ArrayChatMessageContentItem
    ScheduledTriggerContext:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        type:
          $ref: '#/components/schemas/ScheduledEnum'
        trigger_id:
          type:
          - string
          - 'null'
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - type
      - span_id
      title: ScheduledTriggerContext
    NodeExecutionStreamingEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/node.execution.streamingEnum'
        body:
          $ref: '#/components/schemas/NodeExecutionStreamingBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: NodeExecutionStreamingEvent
    WorkflowExecutionStreamingBody:
      type: object
      properties:
        workflow_definition:
          $ref: '#/components/schemas/VellumCodeResourceDefinition'
        output:
          $ref: '#/components/schemas/BaseOutput'
      required:
      - workflow_definition
      - output
      title: WorkflowExecutionStreamingBody
    workflow.executionEnum:
      type: string
      enum:
      - workflow.execution
      title: workflow.executionEnum
    WorkflowExecutionFulfilledEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/workflow.execution.fulfilledEnum'
        body:
          $ref: '#/components/schemas/WorkflowExecutionFulfilledBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: WorkflowExecutionFulfilledEvent
    WorkflowExecutionPausedEvent:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        name:
          $ref: '#/components/schemas/workflow.execution.pausedEnum'
        body:
          $ref: '#/components/schemas/WorkflowExecutionPausedBody'
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        api_version:
          $ref: '#/components/schemas/ApiVersionEnum'
        trace_id:
          type: string
          format: uuid
        span_id:
          type: string
          format: uuid
      required:
      - name
      - body
      - id
      - timestamp
      - trace_id
      - span_id
      title: WorkflowExecutionPausedEvent
    WorkflowDeploymentParentContext:
      type: object
      properties:
        parent:
          oneOf:
          - $ref: '#/components/schemas/ParentContext'
          - type: 'null'
        links:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpanLink'
        type:
          $ref: '#/components/schemas/WorkflowReleaseTagEnum'
        span_id:
          type: string
          format: uuid
        deployment_id:
          type: string
          format: uuid
        deployment_name:
          type: string
        deployment_history_item_id:
          type: string
          format: uuid
        release_tag_id:
          type: string
          format: uuid
        release_tag_name:
          type: string
        external_id:
          type:
          - string
          - 'null'
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        workflow_version_id:
          type: string
          format: uuid
      required:
      - type
      - span_id
      - deployment_id
      - deployment_name
      - deployment_history_item_id
      - release_tag_id
      - release_tag_name
      - workflow_version_id
      title: WorkflowDeploymentParentContext
    ApiActorTypeEnum:
      type: string
      enum:
      - ANONYMOUS
      - WORKSPACE_API_KEY
      - ENVIRONMENT_API_KEY
      - JWT
      - SERVICE_TOKEN
      description: '* `ANONYMOUS` - ANONYMOUS

        * `WORKSPACE_API_KEY` - WORKSPACE_API_KEY

        * `ENVIRONMENT_API_KEY` - ENVIRONMENT_API_KEY

        * `JWT` - JWT

        * `SERVICE_TOKEN` - SERVICE_TOKEN'
      title: ApiActorTypeEnum
    VellumNodeExecutionEvent:
      oneOf:
      - $ref: '#/components/schemas/NodeExecutionInitiatedEvent'
      - $ref: '#/components/schemas/NodeExecutionStreamingEvent'
      - $ref: '#/components/schemas/NodeExecutionFulfilledEvent'
      - $ref: '#/components/schemas/NodeExecutionRejectedEvent'
      - $ref: '#/components/schemas/NodeExecutionPausedEvent'
      - $ref: '#/components/schemas/NodeExecutionResumedEvent'
      - $ref: '#/components/schemas/NodeExecutionLogEvent'
      title: VellumNodeExecutionEvent
  securitySchemes:
    default:
      type: apiKey
      in: header
      name: X-API-KEY
